$maxWidth: 1440;

//! for responsive font
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 1305px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  }
}

$fz: 28;
$lh: 18;

@mixin fzlh($fz, $lh) {
  font-size: $fz + px;
  line-height: $lh + px;
}

.header {
  border-bottom: 4px solid $second;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding-top: 55px;
    padding-bottom: 55px;
  }

  &__logo {
    cursor: default;
  }

  &__menu {
    // display: flex;
    // border: 1px solid red;
    list-style: none;

    li~li {
      margin-left: 35px;
    }

    a {
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      line-height: 1.67;
      color: $text-color;
      text-transform: uppercase;
      transition-duration: 500ms;
      transition-property: color;

      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 2px;
        background-color: $second;
        margin-bottom: 2px;
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity;
      }

      &:hover {
        color: $second;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.logo-svg {
  // font-size: 56px;
  font-size: 3em;
  fill: $white;
  font-family: 'Capture Smallz', sans-serif;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    fill: $second;
  }

}