* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #363636;
}

button {
  outline: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 34px;
  /*? dla toqo ctobi sdelat polosku snizu */
  border-bottom: 1px solid #d4d4d4;
}

.m-menu {
  height: 100%;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.header-icon {
  height: 100%;
  fill: #fff;
}

.header-icon:hover {
  fill: rgb(148, 255, 127);
}

.header-icon:active {
  fill: aqua;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.search-input {
  background-image: url(/ghost/assets/svg/search-icon.svg);
  width: 40%;
  height: 100px;
  background-repeat: no-repeat;
  /*todo: pozicioniruem ikonku poiska */
  background-position: center left;
  /*todo: uberaem qranicu */
  border: none;
  padding-left: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
  border-radius: 10px;
  outline: none;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 44px;
  margin-left: auto;
  height: 80px;
  text-align: center;
}

.navigation-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;

  position: relative;

  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.navigation-link::after {
  content: "";
  position: absolute;
  /* width: 0%; */
  width: 100%;
  bottom: 0;
  /* right: 0; */
  left: 0;
  /* transition: width 0.2s; */
  transition: transform 0.2s;
  transform: scaleX(0);

  height: 1px;
  background-color: #000;
}

.navigation-link:hover::after {
  /* width: 100%; */
  transform: scaleX(1);

  /* при наведении курсора мышки */
  /* font-weight: 900; */
}

.navigation-link:hover {
  color: rgb(40, 58, 218);
}

.navigation-link:active {
  color: rgb(72, 194, 47);

  /* при нажатии */
}

/* .navigation-link:focus {
  color: rgb(187, 12, 12); 
   пока кнопка в фокусе, то есть когда пользователь нажал на кнопку, но ещё не щёлкнул курсором мышки в другое место окна браузера. Без :focus невозможно объединить visibility: hidden; и transition. Если слишком быстро убрать мышку, то элемент повиснет в "половинном" состоянии, например, ссылка будет прозрачна, но по ней можно делать переход.
} */

.no-scroll {
  overflow: hidden;
}

.button-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.button {
  height: 100%;
  cursor: pointer;
}

.sign-up {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: #fff;
  color: #5671f6;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #d4d4d4;
}

.sign-up:hover {
  background-color: rgba(71, 194, 47, 0.699);
  color: #ffffff;
}

.sign-up:active {
  background-color: #56d6f6;
  color: #fff;
}

.login {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #5671f6;
  color: #ffffff;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

.login:hover {
  background-color: rgba(71, 194, 47, 0.699);
  color: #ffffff;
}

.login:active {
  background-color: #56d6f6;
  color: #fff;
}

.container {
  max-width: 1130px;
  margin: auto;
}

.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  /* skruqleniya v pravom verxnem uqlu */
  display: flex;
  /* margin-bottom: 0; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 358px;
  height: 464px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  cursor: pointer;
  text-decoration: none;
}

.trailer-button:hover {
  background-color: rgba(71, 194, 47, 0.699);
}

/* .trailer-button-icon,
.trailer-button-text {
  vertical-align: middle;
} */

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
}

.film-subtitle {
  /* on bil strocnim elementom no mi sdelali blocnim */
  display: block;
  margin-bottom: 32px;
  /* 22222222222222 */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.film-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  max-width: 514px;
  color: #000;
  margin-bottom: 50px;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}

.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.left-side {
  margin-right: 40px;
}

.rating {
  display: flex;
  align-items: center;
}

.film-rating-counter {
  /* padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 24px;
  padding-right: 24px; */
  /* 2 sposob */
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 28px;

  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671f6;
}

.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}

.rating-text-bold {
  font-weight: bold;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
}

.section-title.active {
  font-weight: 900;
  color: #363636;
}

.tabs-content {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  visibility: hidden;
}

.tabs-content.visible {
  display: flex;
  visibility: visible;
}

.tab {
  cursor: pointer;
}

.card-f {
  display: flex;
  align-items: center;
  /* eto svoystvo dla flex elementov ctob pomestit kartocki esli 4 karti to 25% */
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-image {
  width: 100px;
  height: 100px;
  /* ctobi proporcii u foto ne portilis delaem object-fit: cover */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.card-name-s {
  text-decoration: none;
}

.name:hover {
  color: rgba(71, 194, 47, 0.699);
}

.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}

.en-name {
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}

.news {
  /* background-image: url(/ghost/assets/img/41707776_images_4681731424.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}

.section-news-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 65px;
  /* border: 1px solid red; */
}

/* ! Ole */

.news-card {
  /* eto razmer kartocek dla flexa */

  max-width: 80%;
  /* max-height: 100px; */
  flex-basis: 23%;
  background-color: #FFF;
  color: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 35px;
}

/* ! ole */

.news-date {
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  margin-top: 14px;
  color: #000000;
}

/*! knopka dla mobile */

.mobile-buttons {
  display: none;
}

.m-menu-button,
.search-button {
  /* width: 20px;
  height: 20px; */
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;

  /* sam postavil */

  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 0;
}

.search-button {
  background-color: #fff;
  border: none;

  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 0;
}

.m-menu-button .menu-line {
  display: block;
  width: 42px;
  height: 8px;
  background-color: #5671f6;
  /* flex-basis: 16px; */
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
}

.film-onlayn {
  max-width: 980px;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

/* slider */

.button-next {
  /* ? убераем фон у кнопки */
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  margin-right: 10px;
  z-index: 99;
  cursor: pointer;
}