$listColor: #959595;

.list {
  font-size: 14px;
  line-height: 1.29;
  color: $listColor;
  list-style: none;
  padding: 0;

  &__element {
    position: relative;
    margin: 15px 0;
    padding-left: 55px;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: $second;
      left: 23px;
      top: 50%;
      transform: translate(-50%);
    }
  }
}