.skills {
  background-color: $second;

  &__wrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__left {
    flex-basis: 280px;
    margin-right: 115px;
  }

  &__right {
    flex-grow: 1;
  }

  &__title {
    position: relative;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    color: $white;
    text-transform: uppercase;
    margin: 20px 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -25px;
      width: 70px;
      height: 2px;
      background-color: $white;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
    color: $white;
    margin: 20px 0;
  }

  &__button {
    @include button($primary) {
      margin-top: 50px;
    }

    ;
  }

  &__progress {
    margin: 20px 0;
  }
}

@media (max-width: 980px) {
  .skills {
    &__left {
      margin-right: 30px;
    }
  }
}

@media (max-width: 768px) {
  .skills {
    &__wrap {
      flex-direction: column;
    }

    &__left {
      margin-right: 0;
      margin-bottom: 25px;
      flex-basis: auto;
    }
  }
}

@media (max-width: 480px) {
  .skills {
    &__wrap {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}