.clients {
  background-color: $bg;

  &__wrap {
    padding-top: 55px;
    padding-bottom: 80px;
  }

  &__title {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin: 20px 0;

    &:before {
      content: '';
      display: block;
      width: 70px;
      height: 2px;
      background-color: $lineColor;
      margin: 0 auto 25px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: $worksText;
    max-width: 555px;
    margin: 20px auto;
  }

  &__carousel {
    margin: 50px 0;
    padding-left: 110px;
    padding-right: 110px;
    box-sizing: border-box;
  }

}

@media (max-width: 980px) {
  .clients {
    &__carousel {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media (max-width: 480px) {
  .clients {
    &__wrap {
      padding-left: 30px;
      padding-right: 40px;
    }
  }
}