# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\SYDAAAAAAAAAAAAAAA\GIT\Git-Hub\mr-crodo\mr-crodo.github.io\vue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
