@mixin headorange {
  background-color: #FA8C16;
}

@mixin white {
  background-color: #ffffff;
}

@mixin fon {
  background-color: #e5e5e5;
}

@mixin text-color {
  color: #262626;
}

@mixin tags {
  color: #BFBFBF;
}

$white: #ffffff;
$color_e5: #e5e5e5;
$orange: #FA8C16;
$text_color: #262626;
$tegs_color: #BFBFBF;
$color_e8: #e8e8e8;
$color_b1: #FAAD14;
$color_b2: #FFC53D;

$black_rgba: rgba(0, 0, 0, 0.15);