@mixin headorange {
  background-color: #FA8C16;
}

@mixin white {
  background-color: #ffffff;
}

@mixin fon {
  background-color: #e5e5e5;
}

@mixin text-color {
  color: #262626;
}

@mixin tags {
  color: #BFBFBF;
}