@import "_color";

@media (max-width: 990px) {
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;

    .header-nav {
      //display: none;
      margin-left: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fa8c16;
      padding-top: 16px;
      padding-bottom: 16px;
      box-shadow: 0px 2px 8px $black_rgba;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 35px;
      padding-right: 35px;

      .header-menu {
        width: 90%;
        margin: auto;
      }
    }
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }

  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: $white;
  }



  .content {


    .sidebar {
      position: fixed;
      z-index: 101;
      top: 0;
      right: 0;
      bottom: 0;
      height: calc(100% - 64px);
      max-width: 320px;
      width: 100%;
      background-color: $white;
      padding: 30px;
      margin-top: 64px;
      // box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 1.0);
      box-shadow: 1px 1px 10px $black_rgba;
      transform: translateX(100%);
      transition: transform 0.2s;
      overflow-y: auto;
    }

    .sidebar.visible {
      transform: translateX(0);
    }



    .posts {
      width: 100%;
    }
  }


  // .header-wrapper {
  //   .header-nav {
  //     position: fixed;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //   }
  // }


}

@media (max-width: 676px) {
  .add-buttons {
    display: flex;
    flex-direction: column;
  }

  .add-button {
    width: 100%;
    max-width: 100%;
    // margin-bottom: 10px;

  }

  .content .posts .add-post .button-outline {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {

  .content {

    .posts {
      .post-footer {
        flex-direction: column;
      }

      .post-footer-author {
        margin-top: 15px;

        .author {
          order: 2;
          text-align: left;

          &-avatar {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }

      .post-footer-buttons {
        .post-button {
          margin-right: 10px;
        }
      }


    }
  }

}