@import "_fonts.scss";
@import "_nulls.scss";


// Font mixins
@mixin sfsembold {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@mixin sfsemreg {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

// Color
@mixin headorange {
  background-color: #FA8C16;
}

@mixin name {
  
}
// Style
.header {
  @include headorange();
}