@import "_fonts.scss";
@import "_nulls.scss";
@import "_color.scss";


// Font mixins
@mixin sfsembold {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@mixin sfsemreg {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin textline {
  font-size: 14px;
  line-height: 22px;
}

@mixin text-bold-line {
  font-size: 16px;
  line-height: 24px;
}

@mixin authore-lineh {
  font-size: 12px;
  line-height: 20px;
}

// Color
@mixin headorange {
  background-color: #FA8C16;
}

@mixin bgwhite {
  background-color: #ffffff;
}

@mixin fon {
  background-color: #e5e5e5;
}

@mixin color-white {
  color: #FFFFFF;
  fill: #ffffff;
}

@mixin color-black {
  color: #000000;
  fill: #000000;
}

@mixin text-color {
  color: #262626;
}

@mixin tags {
  color: #BFBFBF;
}

@mixin tags-hover {
  color: #fa8c16ab;
}

@mixin bgfafa {
  background-color: #FAFAFA;
}

@mixin fill-tags {
  fill: #8C8C8C;
  color: #8C8C8C;
}

@mixin greytext {
  color: $color_59;
}


// Style
* {
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/pikadu/assets/img/overlay/home.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1412px;
  opacity: 0.4;
  z-index: 10;
  display: none;
}

body {
  background-color: $color_e5;
}


.header {
  background-color: $orange;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px $black_rgba;
  margin-bottom: 30px;

  &-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav {
      margin-left: 64px;
      margin-right: auto;

      .header-menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        &-link {
          @include sfsemreg();
          @include textline();
          text-decoration: none;
          color: $color_fafa;
          margin-right: 15px;
        }
      }
    }

    .input-group {
      max-width: 237px;
      width: 60%;
      height: 32px;
      position: relative;
      background-color: $white;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid $color_d9;

      .search-input {
        width: 80%;
        height: 100%;
        border: none;
        @include sfsemreg();
        @include textline();
        padding-left: 12px;
      }

      .search-input::-moz-placeholder {
        color: $tegs_color;
        /* Цвет подсказывающего текста */
      }

      .search-input::-webkit-input-placeholder {
        color: $tegs_color;
      }

      .search-input:-ms-input-placeholder {
        color: $tegs_color;
      }

      .search-input::-ms-input-placeholder {
        color: $tegs_color;
      }

      .search-input::placeholder {
        color: $tegs_color;
      }

      .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20%;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color: $white;
        cursor: pointer;
      }
    }
  }


}

.menu-toggle {
  display: none;
}

// !button
.button {
  background-color: $color_b1;
  border-radius: 4px;
  text-decoration: none;
  color: $white;
  @include sfsemreg();
  @include text-bold-line();
  padding: 13px;
  border: none;
  cursor: pointer;
}

.icon-fire {
  width: 11px;
  height: 14px;
  fill: $white;
  margin-right: 10px;
}

.add-button {
  width: 100%;
  max-width: 370px;
  margin-right: 2%;
}

.button-outline {
  @include sfsemreg();
  @include text-bold-line();
  background-color: $white;
  color: $color_b2;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;

  .icon {
    width: 14px;
    height: 11px;
    fill: $color_b2;
  }
}

// !!!!

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 60px;

  .posts {

    width: 67%;

    .post {
      background-color: $white;
      border: 1px solid $color_e8;
      margin-bottom: 30px;

      &-body {
        padding-top: 35px;
        padding-right: 35px;
        padding-left: 35px;
        padding-bottom: 0;

        .post-name {
          text-decoration: none;

          .post-title {
            margin-top: 0;
            margin-bottom: 19px;
            @include sfsembold();
            @include text-bold-line();
            color: $text_color;
          }
        }


        .post-text {
          @include sfsemreg();
          @include textline();
          color: $text_color;
        }

        .tags {
          margin-bottom: 22px;

          &-link {
            text-decoration: none;

            .tag {
              color: $tegs_color;
              @include textline();
              margin-right: 10px;

              &:hover {
                color: $tags_hover;
              }
            }
          }

        }


      }

      &-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color_e8;
        background-color: $color_fafa;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 13px;
        padding-bottom: 13px;

        &-buttons {
          display: flex;
          align-items: center;

          .post-button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: $color_filtags;
            @include textline();
            margin-right: 19px;

            .icon {
              fill: $color_filtags;
            }

            .icon-like,
            .icon-comment {
              margin-right: 6px;
            }

            .icon-comment:hover {
              fill: $color_hover_comment;
            }

            .icon-like:hover {
              fill: $color_hover_like;
            }

            .icon-save:hover {
              fill: $color_hover_save;
            }

            .icon-share:hover {
              fill: $color_hover_share;
            }

          }
        }

        &-author {
          display: flex;
          align-items: center;
          text-align: right;

          .author {

            &-username {
              display: block;
              color: $color_filtags;
              @include authore-lineh();
              text-decoration: none;
            }

            .post-time {
              @include sfsemreg();
              @include authore-lineh();
              color: $tegs_color;
            }
          }

          .author-avatar {
            width: 34px;
            height: 34px;
            margin-left: 9px;
            border-radius: 4px;
          }
        }


      }
    }


    .add-post {
      display: flex;
      flex-direction: column;

      .add-title {
        background-color: $white;
        border: 1px solid $color_e8;
        padding: 23px 30px;
        margin-bottom: 16px;
      }

      .add-text {
        @extend .add-title;
        min-height: 362px;
      }

      .button-outline {
        margin-right: 1%;
      }

    }
  }


  .sidebar {
    width: 31%;

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color_fafa;
      border: 1px solid $color_e8;
      padding: 15px 25px;

      &-info {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
        }
      }

      &-avatar {
        border-radius: 50%;
        margin-right: 17px;
      }

      &-name {
        @include sfsembold();
        @include text-bold-line();
        color: $color_59;
      }

      .exit {

        .icon-exit {
          width: 20px;
          height: 20px;
          fill: $black;

          &:hover {
            fill: $color_hover_icon;
          }
        }
      }
    }

    &-nav {
      background-color: $white;

      .sidebar-menu {
        margin: 0;
        border: 1px solid $color_e8;
        border-top: none;
        list-style: none;
        padding: 0;

        &-link {
          text-decoration: none;
          @include sfsemreg();
          @include textline();
          color: $color_59;
          padding: 16px 48px;
          display: inline-block;
          width: 100%;

          &:hover {
            background-color: $color_be6;
          }

        }
      }
    }

    .active {
      background-color: $color_be6;
      border-right: 3px solid $color_b1;
    }



    .button-new-post {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
    }

    .card {
      background-color: $white;
      border: 1px solid $color_e8;
      margin-top: 20px;

      &-header {
        background-color: $color_fafa;
        border-bottom: 1px solid $color_e8;
        padding: 23px 25px;

        &-title {
          margin: 0;
          @include sfsembold();
          @include text-bold-line();
          color: $color_59;
        }
      }

      &-body {
        padding: 22px 40px 20px 25px;

        &-title {
          margin: 0 0 10px;
          @include sfsembold();
          @include text-bold-line();
          color: $color_d4;
          text-decoration: none;
        }

        &-text {
          @include sfsemreg();
          @include textline();
          color: $text_color;
          margin: 10px 0;
        }
      }
    }

    .ad {
      background-color: $white;
      display: block;
      background-image: url('/pikadu/assets/img/ad/promo.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 260px;
      border: 1px solid $color_e8;
      margin-top: 20px;
      position: relative;

      &::before {
        content: "Реклама";
        position: absolute;
        right: 0;
        top: 0;
        background: $color_c4;
        padding-left: 26px;
        padding-right: 26px;
        @include authore-lineh();
        text-align: center;
        color: $white;
      }
    }
  }
}

@import "_media.scss";