@import "_fonts.scss";
@import "_nulls.scss";
@import "_color.scss";


// Font mixins
@mixin sfsembold {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@mixin sfsemreg {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin textline {
  font-size: 14px;
  line-height: 22px;
}

@mixin authore-lineh {
  font-size: 12px;
  line-height: 20px;
}

// Color
@mixin headorange {
  background-color: #FA8C16;
}

@mixin white {
  background-color: #ffffff;
}

@mixin fon {
  background-color: #e5e5e5;
}

@mixin text-color {
  color: #262626;
}

@mixin tags {
  color: #BFBFBF;
}

@mixin tags-hover {
  color: #fa8c16ab;
}

@mixin bgfafa {
  background-color: #FAFAFA;
}

@mixin fill-tags {
  fill: #8C8C8C;
  color: #8C8C8C;
}


// Style
* {
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/assets/img/overlay/home.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1412px;
  opacity: 0.4;
  z-index: 10;
  display: none;
}

body {
  @include fon();
}


.header {
  @include headorange();
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;

  &-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav {
      margin-left: 64px;
      margin-right: auto;

      .header-menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        &-link {
          @include sfsemreg();
          @include textline();
          text-decoration: none;
          color: #FAFAFA;
          margin-right: 15px;
        }
      }
    }

    .input-group {
      border: 1px solid red;
      width: 237px;
      height: 32px;
      position: relative;
      @include white();
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #D9D9D9;

      .search-input {
        width: 80%;
        height: 100%;
        border: none;
        @include sfsemreg();
        @include textline();
        padding-left: 12px;
      }

      .search-input::-moz-placeholder {
        @include tags();
        /* Цвет подсказывающего текста */
      }

      .search-input::-webkit-input-placeholder {
        @include tags();
      }

      .search-input:-ms-input-placeholder {
        @include tags();
      }

      .search-input::-ms-input-placeholder {
        @include tags();
      }

      .search-input::placeholder {
        @include tags();
      }

      .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20%;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        @include white();
        cursor: pointer;
      }
    }
  }


}

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;

  .posts {
    max-width: 800px;

    .post {
      @include white();
      border: 1px solid #e8e8e8;
      margin-bottom: 30px;

      &-body {
        padding-top: 35px;
        padding-right: 35px;
        padding-left: 35px;
        padding-bottom: 0;

        .post-name {
          text-decoration: none;
          .post-title {
            margin-top: 0;
            margin-bottom: 19px;
            @include sfsembold();
            font-size: 16px;
            line-height: 24px;
            @include text-color();
          }
        }
        

        .post-text {
          @include sfsemreg();
          font-size: 14px;
          line-height: 22px;
          @include text-color();
        }

        .tags {
          margin-bottom: 22px;

          &-link {
            text-decoration: none;

            .tag {
              @include tags();
              @include textline();
              margin-right: 10px;

              &:hover {
                @include tags-hover();
              }
            }
          }

        }


      }

      &-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e8e8e8;
        @include bgfafa();
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 13px;
        padding-bottom: 13px;

        &-buttons {
          display: flex;
          align-items: center;

          .post-button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            @include fill-tags();
            @include textline();
            margin-right: 19px;

            .icon {
              @include fill-tags();
            }
            .icon-like{
              margin-right: 6px;
              &:hover {
                fill: #2078f4;
              }
            } 
            .icon-comment {
              margin-right: 6px;
              &:hover {
                fill:#8AC858;
              }
            }

            .icon-save:hover {
              fill: #FFC800;
            }
            .icon-share:hover {
              fill: #c7202c;
            }
          
          }
        }

        &-author {
          display: flex;
          align-items: center;
          text-align: right;

          .author {

            &-username {
              display: block;
              @include fill-tags();
              @include authore-lineh();
              text-decoration: none;
            }

            .post-time {
              @include sfsemreg();
              @include authore-lineh();
              @include tags();
            }
          }

          .author-avatar {
            width: 34px;
            height: 34px;
            margin-left: 9px;
            border-radius: 4px;
          }
        }


      }
    }
  }
}