@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #010202;
}

a {
  text-decoration: none;
}

header {
  padding: 56px 0;

  .logo {

    #logo {
      fill: #fff;
    }
  }

  .user {

    &-name {
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      margin-right: 15px;
      color: #FFFFFF;
    }

    &-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

}

.app {
  background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%),
  url(../img/mortal-bg.png);
}