@font-face { 
  font-family: 'Roboto',  sans-serif; 
  src:  url('/assets/fonts/Roboto/Roboto-Regular.ttf')  format('truetype');                /* Старые Safari, Android, iOS */ 
  font-weight: 400; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto',  sans-serif; 
  src:  url('/assets/fonts/Roboto/Roboto-Bold.ttf')  format('truetype');                /* Старые Safari, Android, iOS */ 
  font-weight: 700; 
  font-style: normal; 
}


* {
  box-sizing: border-box;
}

body {
  background-color: #20202d;
  margin: 0;
  color: #fff;
}

.hero {
  padding-top: 50px;
}
.container {
  border: 1px solid red;
  max-width: 945px;
  margin: auto;
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.logo {
}
.social-links {
  display: flex;
  /* align-items: center; */
}
.social-link {
  text-decoration: none;
  margin-left: 20px;
}
