$white: #Ffffff;
$black: #000000;
$text-main: #302C34;
$bg-26: #262626;
$but-blue: #1890FF;
$c-f5: #F5F5F5;
$c-bf: #BFBFBF;
$bg-main: #E8E8E8;
$c-star: #FFC107;
$c-59: #595959;
$c-8c: #8C8C8C;
$bg-f5: #f5f5f5;
$bor-d9: #D9D9D9;