@font-face {
  font-family:'Roboto', sans-serif;
  src: url('/assets/fonts/Roboto/Roboto-Bold.eot');
  src: local('Roboto-Bold'), 
    url('/assets/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('/assets/fonts/Roboto/Roboto-Bold.svg#Roboto Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
  font-family:'Roboto', sans-serif;
  src: url('/assets/fonts/Roboto/Roboto.eot');
  src: local('Roboto'),
    url('/assets/fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto/Roboto.woff2') format('woff2'),
    url('/assets/fonts/Roboto/Roboto.woff') format('woff'),
    url('/assets/fonts/Roboto/Roboto.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'SF Pro Display', sans-serif;
  src: url('/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.eot');
  src: local('SF-Pro-Display-Regular'),
    url('/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff') format('woff'),
    url('/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.svg#SF-Pro-Display-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}