@import "fonts";
@import "reset";
@import "colors";


$white: #Ffffff;
$black: #000000;
$text-main: #302C34;
$bg-26: #262626;
$but-blue: #1890FF;
$c-f5: #F5F5F5;
$c-bf: #BFBFBF;
$bg-main: #E8E8E8;
$c-star: #FFC107;
$c-59: #595959;
$c-8c: #8C8C8C;
$bg-f5: #f5f5f5;
$bor-d9: #D9D9D9;
$bg-c: #fff1b8;


@mixin robotoBold {
  font: {
    family: 'Roboto', sans-serif;
    weight: 700;
    style: normal;
    stretch: normal;
  }
}

@mixin robotoReg {
  font: {
    family: 'Roboto', sans-serif;
    weight: 400;
    style: normal;
    stretch: normal;
  }
}

@mixin sfReg {
  font: {
    family: 'SF Pro Display', sans-serif;
    weight: 400;
    style: normal;
    stretch: normal;
  }
}

// ! placeholder
.search-input::-moz-placeholder {
  color: $c-bf;
  /* Цвет подсказывающего текста */
}

.search-input::-webkit-input-placeholder {
  color: $c-bf;
}

.search-input:-ms-input-placeholder {
  color: $c-bf;
}

.search-input::-ms-input-placeholder {
  color: $c-bf;
}

.search-input::placeholder {
  color: $c-bf;
}

// ! ***********
// **************

@mixin fz-1624 {
  font-size: 16px;
  line-height: 24px;
}

@mixin fz-1832 {
  font-size: 18px;
  line-height: 32px;
}

@mixin fz-3642 {
  font-size: 36px;
  line-height: 42px;
}

@mixin fz-2432 {
  font-size: 24px;
  line-height: 32px;
}

@mixin fz-2428 {
  font-size: 24px;
  line-height: 28px;

}

@mixin fz-1821 {
  font-size: 18px;
  line-height: 21px;
}

@mixin fz-1220 {
  font-size: 12px;
  line-height: 20px;
}

@mixin fz-2032 {
  font-size: 20px;
  line-height: 32px;
}

@mixin fz-2023 {
  font-size: 20px;
  line-height: 23px;
}

@mixin fz-3946 {
  font-size: 39px;
  line-height: 46px;
}

@mixin main-text {
  @include robotoBold();
  @include fz-3946();
  color: $text-main;
}


// ***********

* {
  box-sizing: border-box;
}

.btn {
  padding: 8px 16px;
  @include fz-1624();
  border-radius: 2px;
}

.btn-blue {
  @extend .btn;
  background-color: $but-blue;
}

.btn-white {
  @extend .btn;
  background-color: $white;
  border: 1px solid $bor-d9;

  box: {
    sizing: border-box;
    shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  }

  color: $c-59;

}

.input {
  background-color: $white;
  border: 1px solid $bor-d9;
  border-radius: 2px;
  @include fz-1624();
  padding: 8px 12px;
  padding-left: 35px;

  background: {
    color: $white;
    repeat: no-repeat;
    position: left 11px center;
  }
}

.price-pizza {
  @include robotoReg();
  @include fz-1832();
  color: $c-8c;
}

body {
  // background-color: $white;

  .header {
    padding-top: 44px;
  }

  .main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  }

  .footer {
    padding: 60px 0;
  }

  .container {
    max-width: 1200px;
    width: 90%;
    margin: auto;

    .header__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      .input-address {
        @extend .input;
        // это ширина алресной строки для ввода во флех эоементе
        flex: 0.8;
        background-image: url('/assets/svg/home.svg');
      }

      .buttons {
        display: flex;
        align-items: center;

        .btn-blue {
          margin-right: 10px;
          border: 1px solid $but-blue;
          color: $white;

        }

        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
          cursor: pointer;

          .icon-user {
            width: 12px;
            height: 14px;
            fill: $white;

            margin-right: 6px;

          }

          .icon-draft {
            width: 15px;
            height: 13px;
            fill: $c-8c;
            margin-right: 6px;
          }
        }
      }
    }



    .promo {
      background: $bg-c url('/assets/img/promo/pizza_PNG44090.png') no-repeat center right / 300px;
      box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
      border-radius: 10px;
      padding: 68px 70px;
      margin-bottom: 56px;

      &-title {
        margin: 0;
        @include main-text();
        margin-bottom: 15px;
      }

      &-text {
        @include robotoReg();
        @include fz-2428();
        max-width: 538px;
        margin: 0;
      }
    }

    .section {

      &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 44px;

        .input-search {
          @extend .input;
          background-image: url('/assets/svg/search.svg');
          width: 300px;
        }
      }

      &-title {
        @include robotoBold();
        @include fz-3642;
        margin: 0;
        color: $black;
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }

      .card {
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 30px;
        flex-basis: 31%;

        &-item {
          display: flex;
          flex-direction: column;
          text-decoration: none;

          &:hover {
            box-shadow: inset 0px 0px 50px 12px rgba(231, 220, 119, 0.5);
          }
        }

        &-image {
          max-width: 384px;
          max-height: 250px;
          // object-fit: cover;
        }

        &-text {
          padding-top: 20px;
          padding-bottom: 35px;
          padding-left: 23px;
          padding-right: 23px;
        }

        &-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &-title {
          margin: 0;
          @include robotoBold();
          @include fz-2432();
          color: $black;
        }

        &-tag {
          @include sfReg();
          @include fz-1220();
          color: $white;
          background-color: $bg-26;
          border-radius: 2px;
          padding: 1px 8px;
        }

        &-info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .rating {
            margin-right: 26px;
            color: $c-star;
            @include robotoBold();
            @include fz-1832();
          }

          .price {
            @extend .price-pizza;
            margin-right: 10px;

            &::after {
              content: "";
              width: 5px;
              height: 5px;
              background-color: $c-8c;
              display: inline-block;
              vertical-align: middle;
              border-radius: 50%;
              margin-left: 10px;
            }
          }

          .category {
            @extend .price-pizza;
            // это надо чтоб скрыть часть текста который не помешается на экран
            // и работает он в паре с  overflow: hidden;
            text-overflow: ellipsis;

            overflow: hidden;
            white-space: nowrap;
            max-width: 150px;
          }
        }
      }

    }

    .footer-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer-nav {
        margin-left: 36px;
        margin-right: auto;

        .footer-link {
          display: inline-block;
          color: $c-59;
          text-decoration: none;
          @include robotoReg();
          @include fz-1821();

          // для всех но не для последнего
          &:not(:last-child) {
            margin-right: 15px;
          }

        }
      }

      .social-links {
        display: flex;
        align-items: center;
        justify-content: center;

        .social-link {
          &:not(:last-child) {
            margin-right: 21px;
          }
        }
      }

    }

  }


}

// @import "media";

@media (max-width: 1366px) {
  body {
    .container {
      // max-width: 960px;

      .section {
        .card-info {
          .price {}
        }
      }
    }

  }


}