@media (max-width: 1200px) {
  .container {
    justify-content: flex-start;
    width: 95%;
  }

  .right-sidebar {
    display: none;
  }

  .header-block {
    width: 95%;
  }
}

@media (max-width: 960px) {
  .header .user {
    display: none;
  }

  .navigation-panel {
    display: none;
  }
}

@media (max-width: 840px) {
  .menu-sidebar {
    position: fixed;
    left: 0;
    top: 35px;
    width: 100%;
    max-width: 250px;
    background-color: #f1f1f1;
    padding-top: 12px;
    height: 100%;
    padding-left: 2%;
    /* mi zadaem etomu menu peremeshenie na etom razmeri ekrana po osi x */
    /* mi eto vse delaem dla burger menu */
    transform: translateX(-100%);
    transition: transform 0.2s;
  }

  /* sdes zadaem tu poziciyu kotoraya doljna poyavitsa pri najatii */
  .menu-sidebar.active {
    transform: translateX(0%);
  }

  .search .active {
    transform: translateZ(0%);
  }

  .m-menu {
    display: flex;
  }

  .m-search {
    display: flex;
    width: 200%;
    /* left: -3000px; */

  }

  .header-block {
    display: flex;
    flex-wrap: wrap;
  }

  .m-search-svg {
    width: 100%;
    /* border: 1px solid red; */
    left: -5px;
  }


}

@media (max-width: 460px) {
  .m-search {
    display: flex;
    flex-wrap: wrap;

  }

  /* .m-search {
    display: flex;
  } */
}