@font-face {
  font-family: "San Francisco", sans-serif;
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Black.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Bold.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Extrabold.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Light.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Medium.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Regular.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Semibold.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Thin3.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Ultralight3.otf);
}

@font-face {
  font-family: "Google Sans", sans-serif;
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.woff2);
}

*,
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  background-color: #fff;
  color: #555;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"] {
  color: #5d5d5d;
  width: 60%;
  padding: 8px;
}

input,
textarea {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
}

h1,
h2 {
  font: normal 170% "Google Sans", sans-serif;
  margin: 0 0 15px 0;
  /* padding: 15px 0 5px 0; */
  color: #212029;
}

h2 {
  font-size: 140%;
}

/* styles for links */
a,
a:hover {
  outline: none;
  text-decoration: none;
  color: #e8046e;
  transition: 0.5s ease-out;
}

ul {
  margin: 2px 0 22px 17px;
}

ul li {
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

/* rgb(72, 153, 190 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(157.1deg, #562ec2 29.59%, #a07efe 73.59%); */
  background: #1b1b1b;
  /* background: #562ec2; */
  height: 177px;
  font-size: 0.8em;
  margin-left: 0;
  margin-right: 0;
  min-width: 900px;
}

.main,
.logo,
.menubar,
.site-content,
.footer {
  margin-left: auto;
  margin-right: auto;
}

.site-content {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.logo {
  padding-bottom: 20px;
  /* border: 1px solid red; */
}

.logo h1,
.logo h2 {
  font: normal 300% "Google Sans", sans-serif;
  margin: 0 0 0 9px;
}

.logo-text h1,
.logo-text h1 a,
.logo-text h1 a:hover {
  padding: 22px 0 0 0;
  color: #e8046e;
  letter-spacing: 0.1em;
  /* properties for text-decoration: none, underline, line-throught; overline*/
  text-decoration: none;
  transition: 0.5s ease-out;
  /* border: 1px solid red; */
}

.logo-text h2 {
  font-size: 0.9em;
  padding: 4px 0 0 0;
  color: #999;
}

.menubar {
  max-width: 900px;
  height: 46px;
}

/* sdes mi zadali float rigt ctobi blok menu sdelat s prava roditelskoqo elementa */
ul.menu {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  float: right;
}

/* sdes sdelali float rigt ctobi ulojit eqo vdol */
ul.menu li {
  /* display: flex; */
  float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  text-align: center;
  /* border: 1px solid red; */
  margin-left: 10px;
}

/* ul.menu li a {
  font: normal 100% 'trebuchet ms', sans-serif;
  display: block;
  height: 60px;
  padding: 6px 35px 5px 28px;
  color: #fff;
  text-decoration: none;
} */

ul.menu li.selected a {
  color: #b10555;
}

ul.menu li.selected a:hover {
  color: #e8046e;
  
}

ul.menu li a:hover {
  color: #e8046e;
}

.icon-link {
  font: normal 100% "San Francisco", sans-serif;
  display: block;
  height: 40px;
  /* padding: 6px 35px 5px 28px; */
  /* margin-left: 5px; */
  color: #fff;
  text-decoration: none;
  /* align-items: center; */
  text-align: center;
  /* border: 1px solid red; */
  /* position: relative; */
}

.header-icon {
  position: relative;
  top: 6px;
  /* left: 10px; */
  /* margin-top: 20px; */
}

.text-svg {
  /* height: 60px; */

  text-align: center;
}

/* TODO: Button */

.buttons-groub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.regestration {
  display: flex;
  margin-bottom: 20px;

  /* border: 1px solid red; */
  width: 300px;
  justify-content: center;
}

.button-login,
.button-reg {
  margin: 10px;
}

.button-reg .log,
.button-login .log {
  border-style: none;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "San Francisco", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  /* or 22px */
  color: #707a89;
}

.log:hover {
  /* padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 35px;
  padding-left: 35px; */
  background: #e8046e;
}

/* TODO: lang */
.language {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}

.flag {
  text-align: center;
  width: 60px;
  height: 40px;
  /* border: 1px solid red; */
}

.social-ico a .fa-at:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #1da1f2;
}

.fa-facebook:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}


.azer-logo img,
.russ-logo img,
.eng-logo img {
  width: 30px;
  height: 30px;
}

.azer-logo img:hover,
.russ-logo img:hover,
.eng-logo img:hover {
  fill: #b23121;
  width: 45px;
  height: 45px;
  /* transition-property: height, width, background-color;
  transition-duration: 0.5s; */
  overflow: hidden;
  transition: 0.5s ease-in-out;
  /* transition-timing-function: ease-in, ease, linear; */
}

/* ****** V slucae ceqo izmenay sdes ********** */

hr {
  border: solid 1px #f3f3f3;
}

.site-content {
  max-width: 1200px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  background-color: white;
}

/* right side bar */

.sidebar-container-right {
  /* border: 1px solid rgb(0, 255, 98); */
  float: right;
  width: 224px;
  margin-left: 30px;
}

.sidebar-right {
  /* border: 1px solid rgb(30, 180, 30); */
  float: right;
  width: 222px;
  padding: 5%;
  margin: 0 0 16px 0;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* .sidebar h2 {
  
}

.btnsearch {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
} */
.btn {
  padding: 8px;
  background-color: #457adc;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e8046e;
}

.sidebar-right h2 {
  color: #707a89;
}

/* styles for links */

.lables-passreg-text {
  font-size: 0.7em;
  margin-top: 3%;
  margin-left: 2%;
}

.sidebar-right ul {
  margin: 0;
}

.sidebar-right ul li {
  list-style-type: none;
  margin: 0 0 0 0;
}

.sidebar-right .rating-sidebar {
  float: right;
}

/* ****left side bar ***********/

.sidebar-container-left {
  /* display: block; */
  top: 0;
  float: left;
  margin-right: 30px;
  width: 224px;
  /* border: 1px solid red; */
}

.sidebar-left {
  float: left;
  width: 222px;
  padding: 5%;
  margin: 0 0 16px 0;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* background-color: #1B1B1B; */
  /* background-color: #707A89; */
  /* background-color: #FFFCE9; */
}

/* .sidebar h2 {
  
}

.btnsearch {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
} */

.btn {
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
}

.sidebar-left h2 {
  /* color: #136cb2; */
  /* color: #E87E04; */
  color: #707a89;
}

/* color: #34495E */
/* color: #23527C */

/* styles for links */

.lables-passreg-text {
  font-size: 0.7em;
  margin-top: 3%;
  margin-left: 2%;
}

.sidebar-left ul {
  margin: 0;
}

.sidebar-left ul li {
  list-style-type: none;
  margin: 0 0 0 0;
}

.sidebar-left .rating-sidebar {
  float: right;
}

/* ! CONTENT */
.content {
  /* display: flex; */
  text-align: left;
  width: 610px;
  padding: 0 0 0 5px;
  float: left;

  /* border: 1px solid red; */
}

.content a {
  text-decoration: none;
}

.films__block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* flex-direction: column; */
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
  /* border: 1px solid blue; */
}

.films__block img {
  
  
  width: 90%;
}

.film-w {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1%;
  width: 20%;
  border-radius: 5px;
  border: solid 5px #dad7d5;
}

/* * OBVODNA PRI NAVEDENII */
.film-w:hover {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #e8046e;
  transition: 0.5s ease-out;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  /* border: 5px solid #922525; */
  border-radius: 10px;
  padding-bottom: 5px;
  /* margin: 5px; */
  /* padding-top: 5px; */
  cursor: pointer;
  text-decoration: none;

}

.trailer-button-text {
  text-align: center;
  font-size: 1em;
  margin-left: 5px;
}

/* * POST */

.posts .posts__content {
  font-size: 0.8em;
}

/* ***************VIDEO************************ */

/* .film-video {
  display: flex;
  max-width: 100%;
}
.film-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding-right: 40px;
  border-width: 0;
  outline-width: 0;
} */

/* ****************FOOTER********************* */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #1b1b1b;
  /* background: linear-gradient(157.1deg, #562ec2 29.59%, #a07efe 73.59%); */
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

/* .topnav {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 200px;
} */

.footer-anc .topnav a {
  text-decoration: none;
}

footer a {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  text-decoration: none;
}

footer nav a:hover {
  border-bottom: 1px solid white;
}

.logo-footer {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  align-items: center;
  margin: 50px;
}

.logo-1 a {
  font-size: 52px;
  margin-right: 50px;
  text-decoration: none;
}

.footer-batman {
  width: 120px;
  height: 120px;
  margin-right: 50px;
  fill: black;
}

.footer-batman:hover {
  fill: aqua;
}

.footer-cat {
  width: 100px;
  height: 100px;
}

.footer-cat:hover {
  fill: gainsboro;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* * My GAME */

.logo-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-game {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.footer-game:hover {
  fill: #e8046e;
  /* color: #e4ec04; */
}

/* !Social */
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-1 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
}

.social-2 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  /* border: 1px solid red; */
}

.social-ico {
  position: relative;
  border-radius: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  /* padding-right: 10px; */
  padding-top: 5px;
  /* flex-basis: auto; */
  margin: 10px;
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.social-ico a {
  text-decoration: none;
}

.social-ico a .fa {
  font-size: 2em;
  color: #333;
}

.fa-at::before {
  display: flex;
  font-family: fontAwesome;
  /* position: absolute; */
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-at:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #1da1f2;
}

.fa-facebook:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-facebook:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #3b5998;
}

.fa-git:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-git:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #bd2c00;
}


.fa-linkedin:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-linkedin:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #0077b5;
}

.fa-instagram:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-instagram:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #833ab4;
}

.fa-telegram:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-telegram:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #0088cc;
}


.fa-odnoklassniki:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-odnoklassniki:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #ed812b;
}


.fa-twitter:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-twitter:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #1da1f2;
}

.fa-pinterest:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-pinterest:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #bd081c;
}

.fa-vk:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-vk:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #45668e;
}

.fa-whatsapp:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-whatsapp:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #25d366;
}

.fa-wordpress:before {
  display: flex;
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-ico a .fa-wordpress:hover {
  justify-content: center;
  font-size: 3em;
  text-align: center;
  color: #21759b;
}


/* .fa-at:nth-child(1)::before {
  content: '\f1fa';
  color: #ffa930;
  border-top: 4px solid #1da1f2;
} */

.fa-facebook::before {
  font-family: fontAwesome;
  font-size: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.fa-facebook::before:hover {
  height: 100%;
}

.fa-facebook:nth-child(2)::before {
  content: '\f39e';
  color: #3b5998;
}



/* .codepen {
  width: 60px;
  height: 60px;
  
}

.codepen:hover {
} */

.email {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
  /* border: 1px solid blue; */
}

.email:hover {
  fill: #b23121;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.facebook {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.facebook:hover {
  fill: #1778f2;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.github-kote {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.github-kote:hover {
  /* background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%); */
  fill: #666666;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.instagram {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.instagram:hover {
  fill: #c13584;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;

  /* background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
}

.linkedin {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.linkedin:hover {
  fill: #006097;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.odnoklassniki {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.odnoklassniki:hover {
  fill: #ee8208;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.overflowing {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
  width: 32px;
  height: 32px;
}

.overflowing:hover {
  fill: #f0002a;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.pinterest {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.pinterest:hover {
  fill: #f0002a;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.telegram {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.telegram:hover {
  fill: #0088cc;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.twitter {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.twitter:hover {
  fill: #1da1f2;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.vk {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.vk:hover {
  fill: #5181b8;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.whatsapp {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.whatsapp:hover {
  fill: #4fce5d;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.wordpress {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.wordpress:hover {
  fill: #00749c;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}


/* ************************************************************ */

/* ! Professiona.hrml */

.b-post__infotable {
  display: flex;
}

.b-post__infotable_left {
  max-width: 200px;
  /* border: 1px solid rgb(0, 255, 0); */
  /* max-height: 200px; */
}

.madal-img {
  /* border: 1px solid red; */
  max-width: 200px;
  border-radius: 3px;
}

.show-trailer {
  border: 1px solid black;
  border-radius: 3px;
  padding: 9px 0 9px 0;
  background-color: #212121;
  color: #bdbdbd;
  clear: both;
  /* margin-bottom: 20px; */
  width: 100%;
}

/*! right */
/* .b-post__infotable_right {
  display: flex;
} */

/* ! Vzal s HDrezka */
.b-post__info {
  color: #444;
  width: 100%;
  /* border: 1px solid blue; */
  margin-left: 20px;
}
.b-post__info td {
  /* background-color: #00749c; */
  font-size: 14px;
  padding: 2px 0;
  vertical-align: top;
  text-align: left;
  /* border: 1px solid red; */
}
.b-post__info .l {
  color: #000;
  font-weight: bold;
  font-size: 10px;
  
  /* width: 130px; */
  /* border: 1px solid green; */
  padding-right: 10px;
  /* margin-right: 20px; */
  /* margin-left: 60px; */
}
.b-post__info .l.inline {
  display: inline-block;
  /* border: 1px solid yellow; */
}

.b-post__info 
.b-post__info .rd {
  padding-bottom: 15px;
  font-size: 12px;
  /* background-color: #f21784; */
}
.b-post__info a {
  color: #00a0b0;
  /* color: #474747; */
  text-decoration: underline;
}
.b-post__info a:hover {
  text-decoration: none;
}
.b-post__info h2 {
  display: inline;
}
.b-post__info_rates {
  color: #000;
  /* display: inline-block; */
  /* float: left; */
  margin-right: 15px;
  margin-bottom: 7px;
  white-space: nowrap;
}
.b-post__info_rates a {
  color: #000;
}
.b-post__info_rates i {
  color: #777;
  font-style: normal;
}
.b-post__info_rates:nth-child(2) {
  margin-right: 0;
}
.b-sidelinks__link show-trailer {
  clear: both;
  margin-bottom: 20px;
  width: 100%;
}
.b-post__rating_table td {
  background-color: #1b1b1b;
  width: 50%;
}
.b-post__rating_table .label {
  font-weight: bold;
  text-align: right;
}
.b-post__rating {
  font-size: 24px;
  height: 19px;
  padding-left: 10px;
  /* background-color: #006097; */
}
.b-post__rating .b-rating {
  display: inline-block;
  vertical-align: top;
}
.b-post__rating .num {
  color: #2e849d;
}
.b-post__rating .votes {
  color: #777;
  cursor: help;
  font-size: 12px;
}

/* ! HD rezka konec */




/* .b-post__info {
  font-size: 14px;
}

.l h2 {
  font-size: 14;
  font-weight: 700;
  line-height: 20;
} */


/* ! это видео */
.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  max-height: 100%;
  overflow: hidden;
  border: 1px solid red;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

/* sdes ya budu pisat kod */
/* лалвалвлавладлвдалв
ьавьлавь */