@font-face {
  font-family: "San Francisco", sans-serif;
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Black.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Bold.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Extrabold.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Light.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Medium.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Regular.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Semibold.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Thin3.otf);
  src: url(/assets/fonts/SanFrancisco/San\Francisco-Ultralight3.otf);
}

@font-face {
  font-family: "Google Sans", sans-serif;
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Bold.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-BoldItalic.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Italic.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Medium.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-MediumItalic.woff2);

  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.eot);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.ttf);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.woff);
  src: url(/assets/fonts/GoogleSans/GoogleSans-Regular.woff2);
}

*,
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  background-color: #fff;
  color: #555;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"] {
  color: #5d5d5d;
  width: 60%;
  padding: 8px;
}

input,
textarea {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
}

h1,
h2 {
  font: normal 170% "Google Sans", sans-serif;
  margin: 0 0 15px 0;
  /* padding: 15px 0 5px 0; */
  color: #212029;
}

h2 {
  font-size: 140%;
}

/* styles for links */
a,
a:hover {
  outline: none;
  text-decoration: none;
  color: #e8046e;
}

ul {
  margin: 2px 0 22px 17px;
}

ul li {
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

/* rgb(72, 153, 190 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(157.1deg, #562ec2 29.59%, #a07efe 73.59%); */
  background: #1b1b1b;
  /* background: #562ec2; */
  height: 177px;
  font-size: 0.8em;
  margin-left: 0;
  margin-right: 0;
  min-width: 900px;
}

.main,
.logo,
.menubar,
.site-content,
.footer {
  margin-left: auto;
  margin-right: auto;
}

.site-content {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-bottom: 20px;
  /* border: 1px solid red; */
}

.logo h1,
.logo h2 {
  font: normal 300% "Google Sans", sans-serif;
  margin: 0 0 0 9px;
}

.logo-text h1,
.logo-text h1 a,
.logo-text h1 a:hover {
  padding: 22px 0 0 0;
  color: #e8046e;
  letter-spacing: 0.1em;
  /* properties for text-decoration: none, underline, line-throught; overline*/
  text-decoration: none;
}

.logo-text h2 {
  font-size: 0.9em;
  padding: 4px 0 0 0;
  color: #999;
}

.menubar {
  max-width: 900px;
  height: 46px;
}

/* sdes mi zadali float rigt ctobi blok menu sdelat s prava roditelskoqo elementa */
ul.menu {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  float: right;
}

/* sdes sdelali float rigt ctobi ulojit eqo vdol */
ul.menu li {
  /* display: flex; */
  float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  text-align: center;
  /* border: 1px solid red; */
  margin-left: 10px;
}

/* ul.menu li a {
  font: normal 100% 'trebuchet ms', sans-serif;
  display: block;
  height: 60px;
  padding: 6px 35px 5px 28px;
  color: #fff;
  text-decoration: none;
} */

ul.menu li.selected a {
  color: #e8046e;
}

ul.menu li.selected a:hover {
  color: #e8046e;
}

ul.menu li a:hover {
  color: #e8046e;
}

.icon-link {
  font: normal 100% "San Francisco", sans-serif;
  display: block;
  height: 40px;
  /* padding: 6px 35px 5px 28px; */
  /* margin-left: 5px; */
  color: #fff;
  text-decoration: none;
  /* align-items: center; */
  text-align: center;
  /* border: 1px solid red; */
  /* position: relative; */
}

.header-icon {
  position: relative;
  top: 6px;
  /* left: 10px; */
  /* margin-top: 20px; */
}

.text-svg {
  /* height: 60px; */

  text-align: center;
}

/* TODO: Button */

.buttons-groub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.regestration {
  display: flex;
  margin-bottom: 20px;
  
  /* border: 1px solid red; */
  width: 300px;
  justify-content: center;
}

.button-login,
.button-reg {
  margin: 10px;


}

.button-reg .log,
.button-login .log {
  border-style: none;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "San Francisco", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  /* or 22px */
  color: #707a89;
  
}

.log:hover {
  /* padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 35px;
  padding-left: 35px; */
  background: #e8046e;
}

/* TODO: lang */
.language {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}

.flag {
  text-align: center;
  width: 60px;
  height: 40px;
  /* border: 1px solid red; */
}

.azer-logo img,
.russ-logo img,
.eng-logo img {
  width: 30px;
  height: 30px;
}

.azer-logo img:hover,
.russ-logo img:hover,
.eng-logo img:hover {
  fill: #b23121;
  width: 45px;
  height: 45px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

/* ****** V slucae ceqo izmenay sdes ********** */

.site-content {
  max-width: 1125px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  background-color: white;
}

/* right side bar */

.sidebar-container-right {
  /* border: 1px solid rgb(0, 255, 98); */
  float: right;
  width: 224px;
  margin-left: 30px;
}

.sidebar-right {
  /* border: 1px solid rgb(30, 180, 30); */
  float: right;
  width: 222px;
  padding: 5%;
  margin: 0 0 16px 0;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* .sidebar h2 {
  
}

.btnsearch {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
} */
.btn {
  padding: 8px;
  background-color: #457adc;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e8046e;
}

.sidebar-right h2 {
  color: #707a89;
}

/* styles for links */

.lables-passreg-text {
  font-size: 0.7em;
  margin-top: 3%;
  margin-left: 2%;
}

.sidebar-right ul {
  margin: 0;
}

.sidebar-right ul li {
  list-style-type: none;
  margin: 0 0 0 0;
}

.sidebar-right .rating-sidebar {
  float: right;
}

/* ****left side bar ***********/

.sidebar-container-left {
  /* display: block; */
  top: 0;
  float: left;
  margin-right: 30px;
  width: 224px;
  /* border: 1px solid red; */
}

.sidebar-left {
  float: left;
  width: 222px;
  padding: 5%;
  margin: 0 0 16px 0;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* background-color: #1B1B1B; */
  /* background-color: #707A89; */
  /* background-color: #FFFCE9; */
}

/* .sidebar h2 {
  
}

.btnsearch {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
} */

.btn {
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
}

.sidebar-left h2 {
  /* color: #136cb2; */
  /* color: #E87E04; */
  color: #707a89;
}
/* color: #34495E */
/* color: #23527C */

/* styles for links */

.lables-passreg-text {
  font-size: 0.7em;
  margin-top: 3%;
  margin-left: 2%;
}

.sidebar-left ul {
  margin: 0;
}

.sidebar-left ul li {
  list-style-type: none;
  margin: 0 0 0 0;
}

.sidebar-left .rating-sidebar {
  float: right;
}
/* ! CONTENT */
.content {
  text-align: left;
  width: 610px;
  padding: 0 0 0 5px;
  float: left;

  border: 1px solid red;
}

.content a {
  text-decoration: none;
}

/* ***************VIDEO************************ */



/* .film-video {
  display: flex;
  max-width: 100%;
}
.film-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding-right: 40px;
  border-width: 0;
  outline-width: 0;
} */

/* ****************FOOTER********************* */

footer {
  width: 100%;
  height: auto;
  background: #1b1b1b;
  /* background: linear-gradient(157.1deg, #562ec2 29.59%, #a07efe 73.59%); */
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

footer a {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

footer nav a:hover {
  border-bottom: 1px solid white;
}

.logo-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.logo-1 a {
  font-size: 52px;
  margin-right: 50px;
  text-decoration: none;
}

.footer-batman {
  width: 120px;
  height: 120px;
  margin-right: 50px;
  fill: black;
}

.footer-batman:hover {
  fill: aqua;
}

.footer-game {
  width: 120px;
  height: 120px;
  margin-right: 50px;
}

.footer-game:hover {
  fill: red;
  color: #e4ec04;
}

.footer-cat {
  width: 100px;
  height: 100px;
}

.footer-cat:hover {
  fill: gainsboro;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* !Social */
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-1 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
}

.social-2 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  /* border: 1px solid red; */
}

.social-ico {
  border-radius: 10px;
  display: flex;
  width: 40px;
  height: 40px;

  /* flex-basis: auto; */
  margin: 10px;
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .codepen {
  width: 60px;
  height: 60px;
  
}

.codepen:hover {
} */

.email {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
  /* border: 1px solid blue; */
}

.email:hover {
  fill: #b23121;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.facebook {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.facebook:hover {
  fill: #1778f2;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.github-kote {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.github-kote:hover {
  /* background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%); */
  fill: #666666;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.instagram {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.instagram:hover {
  fill: #c13584;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;

  /* background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
}

.linkedin {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.linkedin:hover {
  fill: #006097;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.odnoklassniki {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.odnoklassniki:hover {
  fill: #ee8208;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.overflowing {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
  width: 32px;
  height: 32px;
}

.overflowing:hover {
  fill: #f0002a;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.pinterest {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.pinterest:hover {
  fill: #f0002a;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.telegram {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.telegram:hover {
  fill: #0088cc;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.twitter {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.twitter:hover {
  fill: #1da1f2;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.vk {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.vk:hover {
  fill: #5181b8;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.whatsapp {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.whatsapp:hover {
  fill: #4fce5d;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}

.wordpress {
  fill: #bdbdbd;
  width: 28px;
  height: 28px;
}

.wordpress:hover {
  fill: #00749c;
  width: 42px;
  height: 42px;
  transition-property: height, width, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in, ease, linear;
}
