@font-face {
  font-family: "Helvetica Now Micro", sans-serif;
  src: url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Regular.eot");
  src: local("Helvetica Now Micro Regular"), local("HelveticaNowMicro-Regular"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Regular.eot?#iefix") format("embedded-opentype"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Regular.woff2") format("woff2"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Regular.woff") format("woff"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Micro", sans-serif;
  src: url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Bold.eot");
  src: local("Helvetica Now Micro Bold"), local("HelveticaNowMicro-Bold"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Bold.woff2") format("woff2"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Bold.woff") format("woff"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Micro", sans-serif;
  src: url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-BoldItalic.eot");
  src: local("Helvetica Now Micro Bold Italic"), local("HelveticaNowMicro-BoldItalic"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-BoldItalic.woff2") format("woff2"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-BoldItalic.woff") format("woff"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Micro", sans-serif;
  src: url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Medium.eot");
  src: local("Helvetica Now Micro Medium"), local("HelveticaNowMicro-Medium"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Medium.eot?#iefix") format("embedded-opentype"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Medium.woff2") format("woff2"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Medium.woff") format("woff"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Micro", sans-serif;
  src: url("HelveticaNowMicro-Light.eot");
  src: local("Helvetica Now Micro Light"), local("HelveticaNowMicro-Light"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Light.eot?#iefix") format("embedded-opentype"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Light.woff2") format("woff2"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Light.woff") format("woff"),
    url("/taxi/assets/fonts/Helvetica-Now-Micro/HelveticaNowMicro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "San Francisco", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

button {
  outline: none;
}

::-webkit-input-placeholder {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

::-moz-placeholder {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

:-ms-input-placeholder {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

:-moz-placeholder {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #0b1f52d0 0%, #212e4e85 100%);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo {
  display: flex;
}

.logo-a-image {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.header-icon {
  fill: #e19d22;
  border-bottom: 1px solid #e19d22;
}

.logo-span {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #9fa1b0;
  margin-left: 10px;
}

.logo-span span {
  color: #c1842d;
}



/* ! Burger Menu */
.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  background-color: #fff;
  display: none;
  z-index: 990;
  cursor: pointer;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  border-radius: 20px;
  cursor: pointer;

}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  border-radius: 20px;
  cursor: pointer;

}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* ! Burger End */



.openMenu {
  z-index: 99;
  display: flex;
  background: rgb(58, 57, 57);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}


.h3-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 40px;
}


.menu {
  z-index: 900;
}

.h3-menu h3 {
  font-family: "Helvetica Now Micro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

.navigation {
  display: flex;
}

.main-ul {
  position: absolute;
  top: 20px;
  right: 355px;
}

.down-icon {
  text-decoration: none;
  margin-top: 10px;
  margin-left: 5px;
  fill: #989ba4;
}

.down-icon:hover {
  transform: rotate(180deg);
  fill: #fff;
}


.navigation ul {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.navigation ul li {
  font-family: "Helvetica Now Micro", sans-serif;
  display: flex;
  flex-direction: column;
}

.navigation-link-clients,
.navigation-link-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #989ba4;
  margin-right: 20px;


}

.navigation-link-clients:hover,
.navigation-link-partners:hover {
  color: #fff;
}

/* ! Visible Menu */
.for-clients,
.for-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}


.sub-menu-li-clients,
.sub-menu-li-partners {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
  color: #989ba4;
  display: none;
}

.for-clients a:hover,
.for-partners a:hover {
  color: #fff;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.sub-menu p {
  font-family: "Helvetica Now Micro", sans-serif;
  font-size: 19px;
  color: #87888d;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sub-menu ul {
  display: flex;
  width: 20%;
  flex-direction: column;
  border-top: 2px solid white;
}

.sub-menu ul li {
  float: none;
  list-style: none;
  text-align: center;
  margin-bottom: 5px;
}

.link-visible-a {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  padding-top: 3px;
  display: block;
  width: 130px;
  height: 25px;
  text-decoration: none;
}

/* ! End */

.telfon {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: #dddddc;
  text-decoration: none;

}

.telfon:hover {
  color: #fff;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-description {
  transform: rotate(90deg);
  position: relative;
  right: 257px;
  top: 20px;
}

.eng-xy {
  right: 285px;
}


.description-p-xy span {
  font-family: "Helvetica Now Micro";
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  color: #686d82;
  display: inline-block;
  margin: 0 .4em;
}

.description-p-xy span::before {
  content: '';
  position: absolute;
  width: 53px;
  border-top: 2px solid #686d82;
  margin-top: .6em;
  margin-left: 102%;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social-left {
  display: flex;
  flex-direction: column;
}

.lang-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 150px;
}

.link-lang {
  color: #a7e6f196;
  text-decoration: none;
  margin-bottom: 20px;
}

.active-lang {
  color: #f0e9e9;
}

.link-lang:hover {
  color: #fff;
}

.link-lang:nth-child(2) {
  margin-bottom: 0;
}

.center-description {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 400px;
  /* margin-bottom: 70px; */
}

.header-h1 {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  margin: 0;
  margin-bottom: 12px;
  color: #fdfdfd;
}

.header-p {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

/* ! link */

.social-left-link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #a7aaa8;
  margin-top: 20px;
}

.facebook-cir,
.twitter-cir,
.vk-cir {
  fill: #1e2752;
}

.facebook-cir:hover,
.twitter-cir:hover,
.vk-cir:hover {
  fill: #e9cb20;
}

/* ! Data  Block*/

.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.transfer {
  margin-top: 40px;
  margin-right: 40px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 20px;
}

.wrapper__search,
.wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: center; */
}

.wrapper__search .input {
  margin: 10px;
  letter-spacing: 0.6px;
  position: relative;
  width: 150px;
  margin-right: 40px;
}

.input-text-data {
  font-family: 'Helvetica Now Text', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #000;
}

.wrapper__search .input input {
  -webkit-appearance: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2.25rem;
  position: relative;
  -webkit-transition: border-radius 0.3s, width 0.3s;
  -o-transition: border-radius 0.3s, width 0.3s;
  transition: border-radius 0.3s, width 0.3s;
  -webkit-box-shadow: inset 0 0 0 2px transparent;
  box-shadow: inset 0 0 0 2px transparent;
  z-index: 1;
  border-radius: inherit;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
  color: #222;
  
}

.wrapper__search .input input:hover {
  border-bottom: 1px solid #f9db9b;
}

.input label {
  display: flex;
  flex-direction: column;
}

.wrapper__search .input input:focus~.label {
  top: -25px;
  left: 0;
  color: #00416a;
}

input {
  -webkit-box-shadow: 0 0 0 2px #000000;
  box-shadow: 0 0 0 2px #000000;
  outline: none;
  font-family: inherit;
  position: relative;
  z-index: 1;
}

.dropdown {
  width: 100%;
  background: rgb(114, 114, 114);
  color: #000;
  max-height: 300px;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
}

.dropdown__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown__city:hover {
  color: #f5f5f5;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  width: 161px;
  height: 39px;
  font-style: normal;
  line-height: 1.4;
  font-weight: 500;
  color: inherit;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  -webkit-appearance: none;
  background-color: #f8a919;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background-color: #f8be53;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

/* ! Main */

.main {
  background-color: #f1f1f1;
  color: #000000;
  padding-top: 110px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-h2 {
  margin-top: 78px;
  margin-bottom: 55px;
}



.slider {
  margin-bottom: 90px;
}

.slick {
  display: flex;
  width: 100%;
  min-width: 0;
  transform: scale(1.1);
  width: 100%;
  transform: scale(0.8);
}

.slick-block {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 100px;
  min-width: 0;
}

.man-flex {
  display: flex;
  justify-content: center;
  padding: 34px 30px;
  width: 100%;
  /* transform: scale(0.9); */
}

.slick-prev {
  position: relative;
  left: 680px;
  top: 150px;
  width: 220px;
  z-index: 99;
}

.slick-next {
  position: relative;
  right: 580px;
  z-index: 99;
  top: 150px;
  width: 220px;
}

.slick-prev:before {
  content: url('/taxi/assets/svg/next-prev/left-arrow.svg');
}

.slick-next:before {
  content: url('/taxi/assets/svg/next-prev/next.svg');
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.image-slick {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.user-photo {
  margin-bottom: 10px;
}

.description-slick {
  flex-direction: column;
  min-width: 0;
}

.location-description {
  font-family: "Helvetica Now Micro";
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 10px;
}

.date-slick {
  font-family: "Helvetica Now Micro";
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10px;
}

.reviews-description {
  font-family: "Helvetica Now Micro";
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}

.user-name {
  font-family: "Helvetica Now Micro";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #87888d;
}

.block-reviews {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.block-reviews h2 {
  margin-bottom: 50px;
}

.advantage {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.advantage-left {
  margin-right: 100px;
}

.advantage-left-top,
.advantage-left-down,
.right-top,
.right-down {
  display: flex;
  max-width: 322px;
  margin-bottom: 40px;
}

.top-img {
  margin-right: 20px;
}

/* ! Slick slider */

.swiper-container {
  width: 100%;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.estimation {
  display: flex;
}

.top-text h3 {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 15px;
}

.top-text p {
  font-family: "Helvetica Now Micro", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! */

.footer {
  background-color: #020f32;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;

}

.navigation-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link-footer {
  display: flex;

}

.social-left-link-footer {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #a7aaa8;
  margin-left: 20px;
}

.navigation-link-footer {
  text-decoration: none;
  color: #989ba4;
  margin-right: 20px;
}

.navigation-link-footer:hover {
  color: #fff;
}

.none {
  display: none;
}

@media (max-width: 1700px) {

  .slick-prev {
    left: 570px;
  }
  
  .slick-next {
  
    right: 470px;
  }
  .main-ul {
    right: 220px;
  }

  .wrapper {
    top: 150px;
    /* bottom: 150px; */
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .main-ul {
    right: 10px;
  }
}

@media (max-width: 820px) {
.transfer  {
  flex-basis: 100%;
  text-align: center;
}
}

@media (max-width: 750px) {
  .advantage-left {
    margin: 0;
  }

  .advantage {
    justify-content: center;
    align-items: center;
  }

.footer-main {
  flex-wrap: wrap;
}

.navigation-footer {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  
}

.alfa-text {
  text-align: center;
  flex-basis: 100%;
  margin: 20px;
}

.tel-footer {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.navigation-footer nav {
  margin-bottom: 20px;
  flex-basis: 100%;
}

.navigation-link-footer:nth-last-child(1) {
  margin: 0;
}

.social-link-footer {
  margin-bottom: 20px;
}

  .main-ul {
    display: flex;
    height: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
  }

  .for-clients, .for-partners {
height: 80px;
  }

  .menu-icon {
    display: flex;
  }

  .m-menu {
    display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  background-color: transparent;
  position: fixed;
  z-index: 900;
  overflow: hidden;
  -webkit-transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  background-color: #3bd415;
  }

  .openMenu {
    z-index: 99;
    display: flex;
    background: rgb(31, 26, 26);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.9;
  }


  .navigation-link-clients, .navigation-link-partners {
    
    display: flex;
    margin-right: 0;
    color: #e8eaf1bb;
  }

  .header-h1 {
    font-size: 32px;
  }

  .description {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .center-description {
    /* margin: 0;
    margin-top: 200px;
    margin-bottom: 0; */
    margin-right: 40px;
  }

  .left-description {
   top: 70px;
   right: 20px;
  }

  .slick-block {
    margin: 0;
  }

  .man-flex {
    width: 100%;
    padding: 10px;
  }

  .reviews {
    margin-top: 200px;
  }

  .wrapper {
    padding: 10px 20px;
  }

  .block-reviews {
    width: 80%;
  }

  .advantage-left-down {
    margin-top: 20px;
  }

  .header-main {
    height: 70vh;
  }
}

