body {
  background: #222222;
}

h1 {
  color: antiquewhite;
  text-align: center;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.block1 {
  background-color: aquamarine;
  width: 450px;
  height: 400px;
}

.block2 {
  background-color: rgb(151, 207, 20);
  width: 450px;
  height: 400px;
}

ldl {
}
